.wrapper {
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.box {
    height: 55vh;
    background: #2a6bb1;
    color: #fff;
    border-radius: 40px;
    box-shadow: 0px 2px 80px -20px rgba(0, 0, 0, 0.5);
    width: 60%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.circal {
    width: 200px;
    height: 200px;
    background: #fff;
    color: black;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}