.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: azure;
}

.box {
    height: 55vh;
    background: #2a6bb1;
    color: #fff;
    border-radius: 20px;
    box-shadow: 0px 2px 80px -20px rgba(0, 0, 0, 0.5);
    width: 60%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info {
    max-width: 45%;
    padding: 10px;
    border: solid #fff;
    border-radius: 3px;
}

form [type="text"] {
    border: 0;
    border-bottom: solid 2px #113a65;
    width: 50%;
    padding-bottom:  4px;
    font-weight: lighter;
    margin-bottom: 30px;
    margin-right: 20px;
    font-size: 20px;
    outline: none;
}

.main {
    display: flex;
    font-weight: lighter;
    font-size: 20px;
}

button {
    font-weight: lighter !important;
    font-size: 20px !important;;
}

.container{
    background-color: white;
}

.back{
    background-color: azure;
}